.records {
  width: 500px;
  background-color: white;
  padding: 0 4rem;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.records header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}
.records span {
  font-size: 2rem;
  color: var(--blue);
  cursor: pointer;
}
.records form {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 4rem;
  gap: 10px;
}

.records input,
select {
  padding: 10px;
  border-radius: 1rem;
  border: 1px solid var(--blue);
  outline: none;
}
.records label {
  font-size: 1.6rem;
}
.date {
  width: 100%;
}
.records div {
  padding: 0;
}
